* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.question {
    margin-bottom: 15px;
    text-transform: uppercase;
    color: blue;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: red;
}

.answer {
    font-size: 18px;
    display: flex;
    align-items: center;
    color: black;
    padding: 10px;
    margin: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #45a049;
}

.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}